nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #f3f3f3;
  padding: 20px;
  z-index: 999;
  margin-left: 2rem;
  margin-right: 2rem;
}
.search {
  padding: 12px 20px;
  border: none;
  outline: none;
  margin-right: 20px;
  border-radius: 5px;
  width: 14rem;
  position: relative;
  background: #f7f6f6;
}
.nav-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
  color: gray;
}
